@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-padding: 2rem;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
	font-family: 'Poppins', sans-serif;
}
section{
	position: relative;
	width: 100%;
	min-height: 100vh;
	padding: 100px;
	display:flex;
	justify-content: space-between;
	align-items: center;
	background: #ffffff;
}
*::selection{
    color: #691818;
    background: var(--main-color);
}
img{
    width: 100%;
}
header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 40px 100px;
	display: inline-block;
	justify-content: space-between;
	align-items: center;
	transition: 0.6s;
	z-index: 100000;
}
header .logo {
	max-width: 80px;
}
header ul {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center; 
}
header ul li{
	position: relative;
	list-style: none;
}
header ul li a{
	position: relative;
	margin: 0 15px;
	display: inline-block;
	color: #000000; /*color of text on navbar when background is white*/
	font-weight: 500;
	margin-left: 40px; /*shifts the text on the navbar to the left*/
	text-decoration: none;
}

header ul li a::after{
	content: '';
	width: 0;
	height: 4px;
	position: absolute;
	bottom: -8px;
	left: 50%;
	transform: translateX(-50%);
	background: #df1204;
	transition: width 0.3s;
}
header ul li a:hover::after{
	width: 50%;
}
header.sticky
{
	padding: 5px 100px;
	background: #a30606; /*background color of navbar*/
	border-bottom: 1px solid(0,0,0,1);
}

header.sticky ul li a::after{
	position: absolute;
	background: white;
}
header.sticky ul li a{
	color: #fff;
} 

header :where(nav, .left, .right, ul, .icon){
	display: flex;
	align-items: center;
	justify-content: space-between;
}
header nav{
	padding: 0.2em 0;
	line-height: 1em; 
}
header nav a{
	padding: 0 0.8em;
	
}
.home-img{
    flex: 1 1 75rem;   /* CHANGES THE SIZE OF THE ASTRONAUT IMAGE*/
}
.home-img img{
    animation: animate 7s linear infinite;
}
@keyframes animate{
    0%{
        transform:  translate(-11px, 0);
    }
    50%{
        transform: translate(-0px, -11px);
    }
    100%{
        transform: translate(-11px, 0);
    }
}
.container span 
{
	color: black;
	text-transform: uppercase;
	display: block;
}
.logo{
	padding: 5px 0;
}
.logo{
    margin: 0.5rem;
    display: flex;
    align-items: center;
}
.logo img{   
    width: 40px;   /* width of the logo */
}
.content{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.content .textBox{
	position: relative;
	max-width: 600px;
}
.content .textBox h2{
	color: #021924;
	font-size: 2.7em;
	line-height: 1.4em;
	font-weight: 900;
}
.content .textBox h2 span{
	color: #a30606;
	font-size: 1.2em;
	font-weight: 900;
}
.content .textBox p{
	color: #000000;
}
.content .imgBox{
	width: 600px;
	display: flex;
	justify-content: flex-end;
	padding-right: 50px;
	margin-top: 50px;
}
.content .imgBox img{
	max-width: 250px;
}
/*Responsiveness*/
@media (max-width: 991px) {
	header{
		padding: 20px;
	}
	header .logo {
		max-width: 60px;
	}
	header ul {
		display: none;
	}
	header ul li a{
		font-size: 2.1em;
		margin: 5px 0;
	}
	/*RESPONSIVE BURGER MENU*/
	.toggle{
		position: relative;
		display: block;
		width: 30px;
		height: 30px;
		cursor: pointer;
		background: url(img/menu.png);	
		background-size: 30px;
		background-position: center;
		background-repeat: no-repeat;
		filter: invert(1);
		z-index: 11;
	}
	.toggle.active{
		position: fixed;
		right: 20px;
		background: url(img/close.png);	
		background-size: 30px;
		background-position: center;
		background-repeat: no-repeat;
	}
	header ul.navigation.active{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		background: #9a9bb3;
		z-index: 10;
	}
	section{
		padding:20px 20px 120px;
	}
	.content{
		flex-direction: column;
		margin-top: 100%;
	}
	.content .textBox h2{
		font-size: 2.5em;
		margin-bottom: 15px;
	}
	.content .textBox{
		max-width: 100%;
	}
	.content .imgBox{
		max-width: 100%;
		justify-content: center;
	}
	.content .imgBox img{
		max-width: 430px;
	}
}
/* NEW SECTION - SEPARATES THE STATIC ASTRO IMAGE WITH THE QUOTED TEXT */
.sec1{
	position: relative;
	padding: 0px 180; /* section align*/
}
.sec1 p{
	line-height: 32px; /*paragraph spacing*/
}
.sec1-inner{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
} 
 .sec1 .text{
	width: 48%;
}
.sec1 .text-left{
	text-align: right;
}
.sec1 .text-right{
	text-align: left;
} 

 /* FOOTER */

 footer {
	background-color: #a30606;
	color: #fff;
  }
  
  .footer-container {
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-content: space-between;
  }
  
  .footer-column {
	flex: 1;
  }
  
  .footer-column h3 {
	margin-bottom: 10px;
  }
  
  .social-links {
	list-style: none;
	padding: 0;
	margin: 2px;
  }
  
  .social-links li {
	display: inline-block;
	margin-right: 10px;
  }
  
  .social-links li:last-child {
	margin-right: 0;
  }
  
  .social-links a {
	color: #fff;
	text-decoration: none;
  }
  
  .footer-bottom {
	background-color: #a30606;
	padding: 10px 0;
	text-align: center;
  }
  

/* Signup form */
form {
	border: solid 1px grey;
	border-radius: 5px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	padding: 50px;
	text-align: center;
}

input {
	height: 40px;
	width: 400px;
	margin-bottom: 5px;
}
  
  .popup {
	width: 50%;
	height: 80%;
	background-color: rgb(255, 255, 255);
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
  }
  
  .popup-content {
	background-color: rgb(255, 255, 255);
	border-radius: 5px;
	padding: 20px;
	box-shadow: 0px 0px 10px rgba(255, 8, 8, 0.2);
	text-align: center;
	margin-left: auto;
	margin-right: auto;
  }
  
  .close-button {
	position:sticky;
	top: 10px;
	right: 15px;
	font-size: 20px;
	cursor: pointer;
  }
  
  button {
	padding: 10px 20px;
	background-color: #2b00ff;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
  }
  
  button:hover {
	background-color: #0056b3;
  }
  